LIB_DIR=$(realpath "${ROOT_DIR}/lib")

JOURNAL=$(realpath "${ROOT_DIR}/../../Data/Positions/Journal_2026.csv")
META_FILE=$(realpath "${ROOT_DIR}/../../Data/Positions/meta.csv")
OHLCV_DIR=$(realpath "${ROOT_DIR}/../../Models/TM2/Data/OHLCV")

TIMESTAMP=
INSTRUMENT=
QUANTITY=
PRICE=
EXCHANGE_EXEC_ID=
# Configure default values here, or leave them blank:
TIMEZONE='-04:00'
COMMISSION='0.35'
CURRENCY=USD
ORDER_ID='abcdef01.02030405.abddef' # first digits usually are repeatable
ACCOUNT_NO=ABCD1
EXCHANGE_NAME=IBKRATS

