SCRIPT_DIR=$(realpath $(dirname ${BASH_SOURCE[0]}))

JOURNAL=$(realpath "${SCRIPT_DIR}/../../Data/Positions/Journal_2026.csv")
DATA_CACHE=$(realpath "${SCRIPT_DIR}/../../Data/Cache/cache.csv")

# This variables are used in the wrapper CLI script and are passed to the python script after validation
# You can also configure default values here
TIMESTAMP=
INSTRUMENT=
QUANTITY=
PRICE=
EXCHANGE_EXEC_ID=
TIMEZONE='-04:00'
COMMISSION=0.35
CURRENCY=USD
ORDER_ID='0036ba34' 
ACCOUNT_NO=ABCD1
EXCHANGE_NAME=IBKRATS
CUSIP=

